// Colors
$primary-color: #F2DE6F;
$secondary-color: #EF6466;
$background-color: #26292B;
$background-color-darker: darken($background-color, 2.5%);
$border-color: lighten($background-color, 10%);
$border-color-lighter: lighten($border-color, 15%);
$font-color: #ddd;
$font-color-darker: darken($font-color, 40%);

// Fonts
$font-body: Ubuntu, sans-serif;
$font-heading: Lora, serif;