// Framework
@import "settings";
@import "framework/all";

// Components
@import "components/center";
@import "components/typography";
@import "components/forms";
@import "components/ornaments";
@import "components/slides";
@import "components/intro";
@import "components/sectors";
@import "components/panes";
@import "components/visualizations";

// Main
html, body {
    width: 100%;
    height: 100%;
    background-color: $background-color-darker;
}