// Vertical centering
.vertical-center-container {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    vertical-align: middle;
}
.vertical-center {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 0 40px;
    width: 100%;
    height: 100%;

    > *:first-child {
        margin-top: 1rem;
    }
    > *:last-child {
        margin-bottom: 1rem;
    }
}