input {
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: $font-color-darker;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $font-color-darker;
        opacity: 1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $font-color-darker;
        opacity: 1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $font-color-darker;
    }
}