#intro {
    max-width: 520px;
    padding: 40px 0;

    h1 {
        margin-left: -3px;
        margin-bottom: -8px;
    }
    h1,
    h1 + em,
    p,
    .next-slide {
        opacity: 1;
        transition: all .3s;
    }
    h1 { transition-delay: .2s; }
    h1 + em { transition-delay: .4s; }
    p { transition-delay: .6s; }
    .next-slide {
        margin-top: 25px;
        transition-delay: .8s;
    }
    .seperator {
        transition: width .33s 1s;
    }

    video {
        opacity: 0;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $background-color;
        pointer-events: none;
        transition: opacity .25s;
    }

    &.is-loading > div {
        opacity: 0;
    }
    &.is-video {
        > div {
            opacity: 0;
        }
        > video {
            opacity: 1;
            pointer-events: auto;
        }

        h1,
        h1 + em,
        p,
        .next-slide {
            opacity: 0;
            transform: translateY(20px);
        }

        .seperator {
            width: 0;

            &:after {
                width: 0;
            }
        }
    }
}
.skip-intro {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    padding: 12px 22px 11px;
    text-decoration: none;
    background-color: $background-color-darker;
    opacity: 0;
    transform: translateY(100px);
    transition: all .5s;

    #intro.is-video & {
        opacity: 1;
        transform: translateY(0);
        transition: all .5s 1s;
    }
}
.intro-credits {
    position: absolute;
    z-index: 9;
    bottom: 20px;
    left: 20px;
    padding: 12px 20px 11px;
    font-size: .8rem;
    color: #555;
    opacity: 0;
    transition: all .5s;

    #intro.is-video & {
        opacity: 1;
    }

    a {
        color: #777;
        text-decoration: none !important;

        &:hover {
            color: $font-color;
        }
    }
}