$ornament-offset: 3px !default;

.ornament {
    position: relative;

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border: 1px solid $border-color-lighter;
        transition: all .33s;
        pointer-events: none;
    }
    &:before {
        top: 3px;
        left: 3px;
        border-right: none;
        border-bottom: none;
    }
    &:after {
        right: $ornament-offset;
        bottom: $ornament-offset;
        border-top: none;
        border-left: none;
    }

    &:not(.ornament--static) {
        &:hover,
        &.is-active {
            &:before,
            &:after {
                width: calc(100% - #{$ornament-offset * 2});
                height: calc(100% - #{$ornament-offset * 2});
                transition: all .5s .1s;
            }
        }
    }
}
.ornament--checkbox {
    &:before,
    &:after {
        width: 0;
        height: 0;
        border-color: transparent;
        transition: all .33s 0s, border 0s .33s;

        input[type="radio"]:checked + &,
        input[type="checkbox"]:checked + & {
            width: calc(100% - #{$ornament-offset * 2});
            height: calc(100% - #{$ornament-offset * 2});
            border-color: $border-color-lighter;
            transition: width .5s 0s, height .5s 0s, border .1s 0s;
        }

        .pane.is-redrawing & {
            transition: all 0s !important;
        }
    }
}
.ornament--button {
    &:before,
    &:after {
        width: 0;
        height: 0;
        border-color: transparent;
        transition: all .33s 0s, border 0s .33s;
    }

    &:hover {
        &:before,
        &:after {
            border-color: $border-color-lighter;
            transition: width .5s 0s, height .5s 0s, border 0s 0s !important;
        }
    }
}