$option-height: 35px;
$max-panes: 2;

.panes {
    height: 100%;
    height: 100vh;

    @for $i from 1 through $max-panes {
        &[data-visible="#{$i}"] {
            height: calc(100% - #{$option-height * ($max-panes - $i)});
            height: calc(100vh - #{$option-height * ($max-panes - $i)});
        }
    }
}
.pane {
    position: relative;
    background-color: $background-color;
    overflow: hidden;
    transition: background .4s;

    &.is-loading {
        background-color: $background-color-darker;
    }

    &:before {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        height: 150px;
        background: linear-gradient(to bottom, $background-color 50%, rgba($background-color, .001));
    }
}
.pane-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin: 20px;
    background-color: $background-color-darker;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1;
    padding-top: 6px;
    padding-right: 2px;
    transition: background .1s, color .1s, transform .5s;
    transform: translateX(0);

    .pane.is-loading &,
    .panes[data-visible="1"] & {
        transform: translateX(200%);
    }
}

.pane-header {
    position: absolute;
    top: 0;
    padding: 35px 150px 0;
    width: 100%;
}
.pane-title {
    display: block;
    margin: 0 0 .5rem;
    width: 100%;

    + em {
        max-width: 50%;
    }
}

.pane-options {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    font-size: .75rem;
    color: $font-color-darker;

    li {
        position: relative;
    }
    label {
        display: block;
        height: $option-height;
        line-height: $option-height;
        background-color: $background-color-darker;
        border-top: 1px solid $background-color;
        border-bottom: 1px solid $background-color;
        cursor: pointer;
        transition: color .15s;

        &:first-child {
            border-top: none;
        }
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            color: $font-color;
        }
    }
    input[type="checkbox"] {
        display: none;

        &:checked + label {
            display: none;
        }
    }
}

// Gutters
.gutter-vertical {
    position: relative;
    cursor: row-resize;
    background-color: $background-color-darker;

    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 4px;
        width: 40px;
        height: 4px;
        margin-left: -20px;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }
}

// Visualizations
.viz-options {
    display: block;
    position: absolute;
    margin: 20px;
    padding: 0;
    top: 0;
    right: 0;
    font-size: .9rem;

    .slide.multiple-panes-visible .pane & {
        transform: translateX(-55px);
    }

    ul {
        margin: 0 0 0 15px;
        padding: 0;
        float: left;
        list-style-type: none;
        background-color: $background-color-darker;

        &:first-child {
            margin-left: 0;
        }

        li {
            float: left;
            position: relative;
            border-right: 2px solid $background-color;

            &:last-child {
                border-right: none;
            }

            label {
                display: block;
                padding: 8px 15px 7px;
                color: $font-color-darker;
                transition: color .33s;

                .pane.is-redrawing & {
                    transition: all 0s !important;
                }
            }
            input[type="radio"],
            input[type="checkbox"] {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;

                &:hover + label {
                    color: $font-color;
                }
                &:checked + label {
                    color: $font-color;
                }
            }
        }
    }
}