#sectors {
    width: 100%;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;

    .next-slide {
        margin-top: 40px;
        visibility: hidden;
        transform: scale(.9);
        opacity: 0;
        transition: all .2s;

        &:not(.is-visible).ornament {
            &:before,
            &:after {
                transition: all 0s;
            }
        }

        &.is-visible {
            visibility: visible;
            transform: scale(1);
            opacity: 1;
        }
    }
}

.sector-list {
    display: block;
    margin: 0 -10px;
    padding: 0;
    list-style-type: none;
}
.sector {
    display: block;
    width: calc(20% - 20px);
    height: 100px;
    float: left;
    border: 1px solid $border-color;
    margin: 10px;
    padding: 15px;
    overflow: hidden;

    input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }
    label {
        display: block;
        cursor: pointer;
        font-size: .9rem;
        line-height: 1.2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        color: $border-color-lighter;
        color: $font-color-darker;
        transition: color .2s;
        word-wrap: break-word;
        transition: transform .4s;
    }
    &:hover label {
        transform: translateY(100%);
    }

    &.is-active {
        label {
            color: $font-color;
        }
    }
}
.sector-color {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    background-color: $border-color-lighter;
    border: 3px solid $background-color;
    z-index: 2;
    opacity: 0;

    .sector.is-active & {
        width: 20px;
        height: 20px;
        opacity: 1;
    }
}
.sector-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: .1;
    transition: opacity .2s;

    .sector:hover & {
        opacity: 1;
    }
}