html, body {
    overflow: hidden;
    position: relative;
}

// Slides
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $background-color;
    transform: translateY(100%);
    transition: all .66s;

    &:after {
        content: '';
        position: absolute;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
        background: $background-color-darker;
        opacity: 0;
        transition: opacity .5s;
        pointer-events: none;
    }

    &.is-active {
        transform: translateY(0);
    }
    &.is-behind {
        transform: scale(.8);

        &:after {
            opacity: 1;
        }
    }
}
.slide-title {
    margin-top: 0;
    margin-bottom: -8px;
    line-height: 1.7;

    + em {
        margin-bottom: .5rem;
    }
}

// Graphs & Data
.graph {
    display: block;
    width: calc(100% - 450px);
    float: left;
    padding: 40px 30px;
}
.data {
    display: block;
    border-left: 1px solid $border-color;
    width: 450px;
    height: 100%;
    float: right;
}

// Buttons
.next-slide {
    margin: 0 auto;
    display: inline-block;
    padding: 13px 22px 14px;
    border: 1px solid $border-color;
    text-decoration: none;
    cursor: pointer;
}
.previous-slide {
    cursor: pointer;

    .slide--graph & {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 39px;
        height: 39px;
        margin: 20px;
        background-color: $background-color-darker;
    }
}
.icon-grid {
    display: block;
    position: absolute;
    margin-top: 9px;
    margin-left: 17px;

    *:hover > & span {
        &,
        &:before,
        &:after {
            background-color: $font-color;
        }
    }

    span {
        display: block;
        position: relative;
        width: 4px;
        height: 4px;
        margin: 2px 0 3px;

        &,
        &:before,
        &:after {
            background-color: lighten($font-color-darker, 10%);
            transition: all .5s;
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
        }
        &:before {
            right: 7px;
        }
        &:after {
            left: 7px;
        }
    }
}