html {
    font-size: 18px;
    line-height: 1.6;
    font-family: $font-body;
    color: $font-color;
}

h1, h2, h3 {
    font-family: $font-heading;
    font-weight: normal;
    font-style: italic;
    color: lighten($font-color, 5%);
    margin-bottom: .25rem;

    + em { // Subtitles
        display: block;
        font-size: 1rem;
        margin-top: -.25rem;
        line-height: 1.4;
        color: $font-color-darker;
    }
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.8rem;
    line-height: 1.1;
}
h3 {
    font-size: 1.15rem;
}

p {
    margin: 0 0 1.5rem;
}

a {
    color: $font-color;
    text-decoration: underline;
}

.seperator {
    position: relative;
    display: block;
    width: 100px;
    height: 1px;
    margin: 1rem 0 2rem;
    border: none;
    background-color: $border-color;

    &:before {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
        width: 20%;
        height: 100%;
        background-color: $border-color-lighter;
    }
}