svg text {
    fill: $font-color-darker;
}

.axis {
    path {
        fill: none;
    }
    path,
    line {
        fill: none;
        stroke: $border-color-lighter;
        shape-rendering: crispEdges;
    }
    text {
        font-size: .9rem;
    }

    &.y line {
        stroke-dasharray: 2px 2px;
        stroke: $border-color;
        opacity: .75;
    }
}
.area {
    fill: $border-color-lighter;
    opacity: .1;

    .hover & {
        opacity: .3;
    }
}
.background {
    fill: $background-color-darker;
}
.line {
    fill: none;
    stroke: $border-color-lighter;
    opacity: .33;
    stroke-width: 1px;

    .hover & {
        opacity: 1;
    }
}
.line--dashed {
    stroke-dasharray: 5px 6px;
}
.line--dotted {
    stroke-dasharray: 2px 2px;
}
.line--lighter {
    opacity: .9;
}

.floating-bar-background {
    opacity: 0;

    .year.hover & {
        opacity: .15;
    }
    .sector.hover & {
        fill: $border-color;
        opacity: .3;
    }
}
.floating-bar-area {
    opacity: .2;
    fill: $border-color-lighter;

    .sector.hover & {
        &.floating-bar--male {
            fill: cyan;
        }
        &.floating-bar--female {
            fill: pink;
        }
    }
}
.floating-bar-line {
    stroke: $border-color-lighter;
    shape-rendering: crispEdges;

    .sector.hover & {
        &.floating-bar--male {
            stroke: cyan;
        }
        &.floating-bar--female {
            stroke: pink;
        }
    }
}

.mask {
    fill: $background-color;
}

.sector-title {
    display: none;
    font-size: .9rem;
    pointer-events: none;

    &.hover {
        display: block;
    }
}

.year-ruler {
    display: none;

    .year.hover & {
        display: block;
    }
}

// Tips
.floating-bar-tips {
    font-size: 14px;
    display: none;

    .sector:hover & {
        display: block;
    }
}
.floating-bar-tip {
    fill: darken($font-color, 15%);
}

.horizontal-ruler {
    opacity: 0;

    &.is-active {
        opacity: 1;
    }
}