// Settings and variables
@import "settings";

// Libraries
@import "lib/normalize";

// Mixins
@import "mixins/mq";
@import "mixins/clearfix";
@import "mixins/hide-text";
@import "mixins/black-or-white";
@import "mixins/webkit-pixelshift-fix";

// Partials
@import "partials/flex-video";
@import "partials/grid";
@import "partials/typography";

// Print
@import "partials/print";

html {
    box-sizing: border-box;
    *, *:before, *:after { box-sizing: border-box; }
}
body { margin: 0; }

// Float classes
.left { float: left; }
.right { float: right; }

// Text selection
::selection {
    background: $primary-color;
    color: black-or-white($primary-color, 65);
}